.windows {
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  max-width: 30rem;
}

.window {
  flex: 0 0 4.5rem;
  box-sizing: border-box;
  display: flex;
  list-style-type: none;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  height: 4.5rem;
  color: var(--pure-black);
}

.window+.window {
  border-top: 1px solid var(--border);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  min-width: 8rem;
}

.info strong {
  font-family: 'MontserratBold', Arial, Helvetica, sans-serif;
}

.info span {
  font-size: 1.05rem;
  font-weight: 600;
}

.info small {
  color: var(--disabled);
  font-size: 0.75rem;
}

@media (max-width: 480px) {
  .window {
    gap: 0.5rem;
  }
}