{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "globals": {
    "window": "readonly",
    "umami": "readonly",
    "fetch": "readonly",
    "document": "readonly"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "react/prop-types": 0,
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}
