.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 0;
}

.green {
  color: var(--green);
}

.yellow,
.orange {
  color: var(--yellow);
}

.red {
  color: var(--red);
}

.prices {
  display: flex;
  gap: 32px;
  width: 100%;
  justify-content: space-evenly;
}

.refresh {
  background-color: transparent;
  border: none;
  height: 2.75rem;
  width: 2.75rem;
}